section header
{
	font-size:100%;
	font-weight:bold;
	background:lightgrey;
	color:grey;
	font-family: 'Staatliches', sans-serif;
}
footer
{
	font-weight:bold;
	background:darkgrey;
	color:lightgrey;
	font-family: 'Quicksand', sans-serif;
}
a:visited
{
	color:grey;
}
a
{
	color:darkgrey;
}
header a
{
	color:grey;
}
caption
{
	font-size:50%;
}
#top_header
{
	grid-area:top_header;
	border:dotted 1px black;
	font-size:200%;
	font-weight:bold;
	background:darkgrey;
	color:lightgrey;
	font-family: 'Staatliches', sans-serif;
}
#navigation
{
	grid-area:navigation;
	border:dotted 1px black;
}
#About_Me
{
	grid-area:About_Me;
	border:dotted 1px black;
}
#Skills_and_Achievements
{
	grid-area:Skills_and_Achievements;
	border:dotted 1px black;
}
#Education_and_Qualifications
{
	grid-area:Education_and_Qualifications;
	border:dotted 1px black;
}
#Experience
{
	grid-area:Experience;
	border:dotted 1px black;
}
#Portfolio
{
	grid-area:Portfolio;
	border:dotted 1px black;
}
#Contact
{
	grid-area:Contact;
	border:dotted 1px black;
}
#Blog
{
	grid-area:Blog;
	border:dotted 1px black;
}
#aside
{
	grid-area:aside;
	border:dotted 1px black;
}
#footer
{
	grid-area:footer;
	border:dotted 1px black;
}
body
{
	font-family: 'Play', sans-serif;
	display: grid;
	grid-template-areas:
	'top_header top_header top_header top_header top_header'
	'navigation navigation navigation navigation navigation'
	'About_Me Skills_and_Achievements Education_and_Qualifications aside aside'
	'Experience Portfolio Contact aside aside'
	'Blog Blog Blog aside aside'
	'footer footer footer footer footer';
	gap: 0.5rem;
	color:#5B5B66;
	background-color:lightgrey;
}
#form_page
{
	background-color:lightgrey;
}
.button
{
	margin-top:10%;
}
#login_link
{
	margin-left:40%;
	margin-top:50%;
}
#log_out
{
	margin-right:0%;
	margin-left:90%;
}
#homepage_link
{
	margin-right:0%;
	margin-left:96%;
}
#add_entry_button
{
	text-align: right;
	margin-left:200%;
	font-size:200%;
}
#blog_post_form
{
	margin-left:125%;
	margin-right:0%;
	
}
#title-field
{
	padding-left:100%;
	background-color:darkgrey;
}
#content-field
{
	padding:50%;
	background-color:darkgrey;
}
.not_filled_in
{
	background-color:grey;
}
#blog_content
{
	margin-top:15%;
	margin-left:10%;
}
