h1,picture,ins,head,nav,button,body,legend,ol,datalist,small,article,s,textarea,b,object,br,dir,var,source,h2,dt,audio,progress,embed,tfoot,fieldset,portal,table,time,output,menu,track,thead,pre,tbody,main,template,style,video,del,bdi,aside,bdo,input,cite,strong,slot,sub,meta,swg,a,th,dl,meter,h5,col,summary,label,tr,map,colgroup,footer,dialog,figure,td,samp,em,sup,iframe,dd,select,script,abbr,kbd,data,title,optgroup,form,span,h6,blockquote,wb,details,option,p,html,q,canvas,area,link,math,img,h3,h4,noscript
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-weight:normal;
}